<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <style media="screen">
    section.mainContent {
      margin: 20%;
      background-color: red;
    }
    </style>
    <title>db</title>
  </head>


  <body>
    <section class="mainContent">
      <table>
        <tr>
          <td><strong><p>Index     </p></strong></td>
          <td><strong><p>Short URL </p></strong></td>
          <td><strong><p>Long URL  </p></strong></td>
        </tr>
        <% for(var i=0; i<urls.length; i++) {%>
          <tr>
            <td><p><%= urls[i].ID %></p></td>
            <td><p><%= urls[i].url.stringify(); %></p></td>
            <td><p><%= urls[i] %></p></td>
          </tr>
        <% } %>
      </table>
    </section>

  </body>
</html>
