<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <style media="screen">
    section.mainContent {
      margin: 20%;
      background-color: red;
    }
    </style>
    <title>db</title>
  </head>


  <body>
    <section class="mainContent">
      <a href="https://dl.dropboxusercontent.com/s/deroi5nwm6u7gdf/advice.png" class="dropbox-saver"></a>
    </section>

  </body>
</html>
